@using PlayerRatings.Localization
@model PlayerRatings.ViewModels.Match.HistoryRatingViewModel

@{
    ViewData["Title"] = LocString[nameof(LocalizationKey.HistoryRating)];
}

<form asp-action="Rating">
    <div class="form-horizontal">
        <h2>@LocString[nameof(LocalizationKey.HistoryRating)]</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="Id" value="@Model.LeagueId" />
        <div class="form-group">
            <label asp-for="ByDate" class="col-md-2 control-label">@LocString[nameof(LocalizationKey.Date)]</label>
            <div class="col-md-10">
                <input asp-for="ByDate" class="form-control" />
                <span asp-validation-for="ByDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@LocString[nameof(LocalizationKey.Submit)]" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}